TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
NEXT_PUBLIC_WA_PHONE=79220308444
NEXT_PUBLIC_TG_USERNAME=podkova_nt
NEXT_PUBLIC_YM_ID=
NEXT_PUBLIC_SITE_URL=https://uralmetstroy.ru
NEXT_PUBLIC_SITE_NAME=Подкова-НТ
API_SECRET=
